:root {
	--color-background: 14 30 66;
	--color-layer-1: 243 244 246;
	--color-layer-2: 229 231 235;
	--color-layer-3: 209 213 220;

	--color-content: 248 244 233;
	--color-muted: 248 244 233 / 0.7;
	--color-subtle: 248 244 233 / 0.5;
	--color-accent: 175 20 60;

	--duration-fast: 0.05s;
	--duration-default: 0.15s;
	--duration-long: 0.25s;
}
