:root {
	--color-blue: 14 30 66;
  --color-red: 175 20 60;
	--color-cream: 248 244 233;

	--color-muted: 248 244 233 / 0.7;
	--color-subtle: 248 244 233 / 0.5;
  --color-separator: 31 46 79;

  --color-white: 255 255 255;
  --color-black: 0 0 0;

	--duration-fast: 0.05s;
	--duration-default: 0.15s;
	--duration-long: 0.25s;
	--duration-max: 0.4s;

  --decoration-link: underline 1px;
}
